/* DEVELOPER Sanavi Kothari, IS117-004, Fall 2024 */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.content {
    padding: 30px 15px;
    margin-top: 40px;
}

.navbar {
    padding: 1rem 1.5rem;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card.bg-success {
    color: white;
    border: 2px solid #6DBE45;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}

#carouselExample {
    width: 80%;
    margin: 30px auto;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    border-radius: 8px;
    border: 2px solid #6DBE45;
}

.navbar .form-control {
    border-radius: 20px;
    padding-left: 15px;
    border: 2px solid #6DBE45;
}

.footer {
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
      border: 2px solid #6DBE45;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
        padding: 1rem;
    }

    .navbar .d-flex {
        width: 100%;
        justify-content: center;
    }

    .navbar .form-control {
        width: 100%;
        margin-top: 10px;
    }

    #carouselExample {
        width: 100%;
        margin-top: 20px;
    }

    .carousel-item img {
        height: 50vh;
    }

    .card {
        margin-bottom: 15px;
        padding: 10px;
    }
}
