.navbar {
    background-color: #2e8b57 !important;
    padding: 1rem 1.5rem;
    height: 70px;
}

body {
    background-color: #FAF0E6; /* Linen background */
    margin: 0;
    font-family: Arial, sans-serif;
}

.content {
    padding: 30px 15px;
    margin-top: 40px;
}


.recipe-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    align-items: flex-start; 
    margin-top: 20px;
}

.recipe-container img {
    flex: 0 0 auto;
    max-width: 40%; 
    height: auto; 
    border-radius: 8px;
    border: 2px solid #6DBE45;
}

.recipe-container .text-content {
    flex: 1 1 auto; 
    min-width: 300px; 
}

@media (max-width: 768px) {
    .recipe-container {
        flex-direction: column; 
    }

    .recipe-container img {
        max-width: 100%; 
    }

    .recipe-container .text-content {
        margin-top: 10px; 
    }
}


.card {
    border: 2px solid #6DBE45;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.footer {
    background-color: #2e8b57;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    border-top: 2px solid #6DBE45;
    font-size: 14px;
}

#carouselExample {
    width: 80%;
    margin: 30px auto;
}

.carousel-item img {
    object-fit: cover;
    width: 80%;
    height: 80vh;
    border-radius: 8px;
    border: 2px solid #6DBE45;
}

.navbar .form-control {
    border-radius: 20px;
    padding-left: 15px;
    border: 2px solid #6DBE45;
}
